<launch>
  <machine name="localhost" address="localhost" />

  <arg name="manager" default="k4a_pr2_decompress_nodelet_manager" />
  <arg name="launch_manager" default="true" />
  <arg name="machine" default="localhost" />

  <arg name="RGB_CAMERA_INFO" default="/k4a/rgb/camera_info" />
  <arg name="RGB_IMAGE" default="/k4a/rgb/image_rect_color" />
  <arg name="RGB_REMOTE_IMAGE" default="/k4a_remote/rgb/image_rect_color" />
  <arg name="RGB_REMOTE_HALF_IMAGE" default="/k4a_remote/rgb_half/image_rect_color" />
  <arg name="RGB_REMOTE_HALF_CAMERA_INFO" default="/k4a_remote/rgb_half/camera_info" />

  <arg name="DEPTH_CAMERA_INFO" default="/k4a/depth/camera_info" />
  <arg name="DEPTH_IMAGE" default="/k4a/depth/image_rect_raw"  />
  <arg name="DEPTH_REMOTE_IMAGE" default="/k4a_remote/depth/image_rect_raw" />
  <arg name="DEPTH_REMOTE_HALF_IMAGE" default="/k4a_remote/depth_half/image_rect_raw" />
  <arg name="DEPTH_REMOTE_HALF_CAMERA_INFO" default="/k4a_remote/depth_half/camera_info" />

  <arg name="CLOUD" default="/k4a_remote/depth_half/points" />

  <node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager"
        machine="$(arg machine)" if="$(arg launch_manager)"
        output="screen" />

  <node name="rgb_decompress" pkg="image_transport" type="republish"
        args="compressed in:=$(arg RGB_IMAGE) out:=$(arg RGB_REMOTE_IMAGE)" />
  <node name="depth_decompress" pkg="image_transport" type="republish"
        args="compressedDepth in:=$(arg DEPTH_IMAGE) out:=$(arg DEPTH_REMOTE_IMAGE)" />

  <!-- half point cloud -->
  <!-- resize for point cloud -->
  <node name="resize_rgb"
        pkg="nodelet" type="nodelet"
        args="standalone image_proc/resize" >
    <param name="scale_height" value="0.5" />
    <param name="scale_width" value="0.5" />
    <remap from="image" to="$(arg RGB_REMOTE_IMAGE)" />
    <remap from="camera_info" to="$(arg RGB_CAMERA_INFO)" />
    <remap from="~image" to="$(arg RGB_REMOTE_HALF_IMAGE)" />
    <remap from="~camera_info" to="$(arg RGB_REMOTE_HALF_CAMERA_INFO)" />
  </node>

  <!-- half point cloud -->
  <!-- resize for point cloud -->
  <node name="resize_depth_half"
        pkg="nodelet" type="nodelet"
        args="standalone image_proc/resize" >
    <param name="interpolation" value="0" />
    <param name="scale_height" value="0.5" />
    <param name="scale_width" value="0.5" />
    <remap from="image" to="$(arg DEPTH_REMOTE_IMAGE)" />
    <remap from="camera_info" to="$(arg DEPTH_CAMERA_INFO)" />
    <remap from="~image" to="$(arg DEPTH_REMOTE_HALF_IMAGE)" />
    <remap from="~camera_info" to="$(arg DEPTH_REMOTE_HALF_CAMERA_INFO)" />
  </node>

  <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg manager)" output="screen" >
    <remap from="rgb/camera_info" to="$(arg RGB_REMOTE_HALF_CAMERA_INFO)" />
    <remap from="rgb/image_rect_color" to="$(arg RGB_REMOTE_HALF_IMAGE)" />
    <remap from="depth_registered/image_rect" to="$(arg DEPTH_REMOTE_HALF_IMAGE)" />
    <remap from="depth_registered/points" to="$(arg CLOUD)" />
    <rosparam>
      queue_size: 100
    </rosparam>
  </node>

</launch>
