<launch>
  <arg name="run_rviz" default="true" />
  <arg name="rviz_name" default="tracking_with_fp_vis" />

  <group if="$(arg run_rviz)">
    <node name="tracking_fp_rviz_$(arg rviz_name)"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2023_09_cook_from_recipe)/rviz/$(arg rviz_name).rviz" />
  </group>
</launch>
