<launch>
  <!-- <arg name="config_name" default="gas_sensers.yaml" /> -->
  <arg name="config_name" default="timestamped_gas_sensers.yaml" />

  <!-- data saver -->
  <node name="sensers_data_saver" pkg="jsk_2023_09_cook_from_recipe" type="sensers_data_saver.py" output="screen">
    <param name="config_file" value="$(find jsk_2023_09_cook_from_recipe)/config/senser_config/$(arg config_name)" />
    <param name="save_path" value="$(find jsk_2023_09_cook_from_recipe)/datas/senser_datas/" />
  </node>
  <!-- <!-\- data saver -\-> -->
  <!-- <node name="sensers_data_saver" pkg="jsk_2023_09_cook_from_recipe" type="unit16_sensers_data_saver.py" output="screen"> -->
  <!--   <param name="config_file" value="$(find jsk_2023_09_cook_from_recipe)/config/senser_config/$(arg config_name)" /> -->
  <!--   <param name="save_path" value="$(find jsk_2023_09_cook_from_recipe)/datas/senser_datas/" /> -->
  <!-- </node> -->
</launch>
