<launch>

  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/femto_mega/femto_mega_decomp.launch">
  </include>

  <!-- mask -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/femto_mega/femto_mega_image_crop.launch">
    <arg name="INPUT_IMAGE" value="/femto_mega_remote/color/image_raw"/>
    <arg name="gui" value="false"/>
  </include>

  <!-- nodes -->
  <node name="femto_mega_image_checker" pkg="jsk_2023_09_cook_from_recipe" type="femto_mega_image_checker.py" output="screen"/>

  <node name="femto_mega_tf_publisher" pkg="jsk_2023_09_cook_from_recipe" type="femto_mega_tf_publisher.py" output="screen"/>

</launch>
