<launch>
  <arg name="INPUT" default="/kinect_head/depth_registered/throttled/points" />
  <arg name="INPUT_INFO" default="/kinect_head/depth_registered/throttled/camera_info" />
  <arg name="gui" default="true" />
  
  <!-- <node name="multi_plane_estimate" pkg="nodelet" type="nodelet" -->
  <!--       args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg manager)" -->
  <!--       output="screen" -->
  <!--       if="$(arg launch_manager)" -->
  <!--       machine="$(arg machine)"> -->
  <!--   <remap from="~input" to="input_relay/output" /> -->
  <!--   <rosparam> -->
  <!--     ransac_refine_outlier_distance_threshold: 1 -->
  <!--     max_curvature: 0.01 -->
  <!--     estimate_normal: true -->
  <!--   </rosparam> -->
  <!-- </node> -->

  <node name="sample_manager"
        pkg="nodelet" type="nodelet"
        args="manager"/>

  <!-- TODO このあたりを調整する -->
  <!-- extract pointcloud --> 
  <node name="attention_clipper"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/AttentionClipper">
    <remap from="~input/points" to="$(arg INPUT)" />
    <remap from="~input" to="$(arg INPUT_INFO)" />
    <rosparam>
      initial_pos: [0.8, -0.15, 1.5]
      initial_rot: [0, 0, 0]
      dimension_x: 0.6
      dimension_y: 0.6
      dimension_z: 0.3
      frame_id: base_link
      use_multiple_attention: false
    </rosparam>
  </node>

  <node name="extract_indices" pkg="nodelet" type="nodelet"
	    args="standalone jsk_pcl/ExtractIndices" output="screen">
    <remap from="~input" to="$(arg INPUT)" />
    <remap from="~indices" to="attention_clipper/output/point_indices" />
    <rosparam>
      keep_organized: true
    </rosparam>
  </node>  
  
  <!-- plane detection  -->  
  <node name="organized_multi_plane_segmentation"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation sample_manager">
    <!-- <remap from="~input" to="$(arg INPUT)"/> -->
    <remap from="~input" to="extract_indices/output"/>
    <rosparam>
      publish_normal: true
    </rosparam>
  </node>

  <group if="$(arg gui)">
    <node name="normal_concatenater"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl_utils/NormalConcatenater sample_manager">
      <remap from="~input" to="$(arg INPUT)"/>
      <remap from="~normal" to="organized_multi_plane_segmentation/output_normal"/>
    </node>

    <node name="rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2020_04_pr2_curry)/config/shelf_plane_rosbag_test.rviz"/>
          <!-- args="-d $(find jsk_pcl_ros)/sample/rviz/organized_multi_plane_segmentation.rviz"/> -->
  </group>

</launch>
