<launch>
  <arg name="gui" default="true"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true"/>
    <!-- <arg name="camera" value="kanazawa_d435"/> -->
    <!-- <arg name="initial_reset" value="true"/> -->
  </include>

  <!-- decompress -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/rs_camerea/rs_decompress.launch">
    <arg name="gui" default="$(arg gui)"/>
  </include>

</launch>
