<launch>
  <arg name="rosbag" doc="rosbag file path" />
  <arg name="compress" default="false" doc="whether compress rosbag or not." />

  <arg if="$(arg compress)" name="compress_flag" value="--bz2" />
  <arg unless="$(arg compress)" name="compress_flag" value="" />

  <node name="rosbag_record" pkg="rosbag" type="record"
      args="-q $(arg compress_flag) -O $(arg rosbag) -b 0 
          /rosout
          /tf
          /tf_static
          /camera/color/camera_info
          /camera/color/image_raw/compressed
          /camera/aligned_depth_to_color/camera_info
          /camera/aligned_depth_to_color/image_raw/compressedDepth"
      output="screen" />

</launch>
