<launch>

  <!-- Device file name depends on /etc/udev/rules.d/99-kanazawa.rules -->

  <!-- atom01 : tgs2600 -->
  <include file="$(find m5stack_ros)/launch/m5stack_ros.launch">
    <arg name="port" value="/dev/atom01" />
    <arg name="baud" value="57600" />
    <arg name="rosserial_name" value="rosserial_atom01" />
  </include>

  <!-- atom02 : tgs2602 -->
  <include file="$(find m5stack_ros)/launch/m5stack_ros.launch">
    <arg name="port" value="/dev/atom02" />
    <arg name="baud" value="57600" />
    <arg name="rosserial_name" value="rosserial_atom02" />
  </include>

  <!-- atom03 : tgs2603 -->
  <include file="$(find m5stack_ros)/launch/m5stack_ros.launch">
    <arg name="port" value="/dev/atom03" />
    <arg name="baud" value="57600" />
    <arg name="rosserial_name" value="rosserial_atom03" />
  </include>

  <!-- atom04 : multi v2 -->
  <include file="$(find m5stack_ros)/launch/m5stack_ros.launch">
    <arg name="port" value="/dev/atom04" />
    <arg name="baud" value="57600" />
    <arg name="rosserial_name" value="rosserial_atom04" />
  </include>

  <!-- relay with timestamped-->
  <!-- gas_v2_102b -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/timestamped_relay_publish.launch">
    <arg name="sensor_topic" value="gas_v2_102b" />
  </include>

  <!-- gas_v2_302b -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/timestamped_relay_publish.launch">
    <arg name="sensor_topic" value="gas_v2_302b" />
  </include>

  <!-- gas_v2_502b -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/timestamped_relay_publish.launch">
    <arg name="sensor_topic" value="gas_v2_502b" />
  </include>

  <!-- gas_v2_702b -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/timestamped_relay_publish.launch">
    <arg name="sensor_topic" value="gas_v2_702b" />
  </include>

  <!-- tgs_2600_analog -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/timestamped_relay_publish.launch">
    <arg name="sensor_topic" value="tgs_2600_analog" />
  </include>

  <!-- tgs_2602_analog -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/timestamped_relay_publish.launch">
    <arg name="sensor_topic" value="tgs_2602_analog" />
  </include>

  <!-- tgs_2603_analog -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/timestamped_relay_publish.launch">
    <arg name="sensor_topic" value="tgs_2603_analog" />
  </include>
</launch>
