<launch>
  <arg name="is_sensors" default="False" />
  <arg name="is_gui" default="True" />
  <arg name="save_img" default="True" />

  <group if="$(arg is_sensors)">
    <!-- sensors -->
    <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/nose_module_gas_sensors.launch">
    </include>
  </group>

  <group if="$(arg is_gui)">
    <!-- plot -->
    <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/nose_module_rqt_plot_test.launch">
    </include>
  </group>

  <!-- data saver -->
  <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/sensors_data_save.launch">
    <arg name="config_name" value="timestamped_nose_module_gas_sensors.yaml" />
  </include>
  <group if="$(arg save_img)">
    <include file="$(find jsk_2023_09_cook_from_recipe)/launch/cook_sensors/periodic_image_saver.launch">
    </include>
  </group>
</launch>
