<launch>
  <!-- <machine name="localhost" address="localhost" /> -->

  <!-- <arg name="standalone" default="false"/> -->
  <!-- <arg name="MANAGER" value="femto_mega_decompress_nodelet_manager" unless="$(arg standalone)"/> -->
  <!-- <arg name="MANAGER" value="" if="$(arg standalone)"/> -->
  <!-- <arg name="LOAD_STATEMENT" value="load" unless="$(arg standalone)"/> -->
  <!-- <arg name="LOAD_STATEMENT" value="standalone" if="$(arg standalone)"/> -->

  <arg name="camera" default="r_hand_d405" />

  <arg name="manager" default="r_405_decompress_nodelet_manager" />
  <arg name="launch_manager" default="true" />
  <!-- <arg name="machine" default="localhost" /> -->

  <arg name="gui" default="false" />

  <arg name="align_depth" default="false" />

  <arg name="RGB_CAMERA_INFO" value="/$(arg camera)/color/camera_info" />
  <arg name="RGB_IMAGE" value="/$(arg camera)/color/image_rect_color" />
  <arg name="RGB_REMOTE_IMAGE" value="/$(arg camera)_remote/color/image_rect_color" />

  <arg name="DEPTH_CAMERA_INFO" value="/$(arg camera)/depth/camera_info" if="$(arg align_depth)"/>
  <arg name="DEPTH_IMAGE" value="/$(arg camera)/aligned_depth_to_color/image_raw" if="$(arg align_depth)"/>
  <arg name="DEPTH_REMOTE_IMAGE" value="/$(arg camera)_remote/depth/image_rect_raw" if="$(arg align_depth)"/>

  <arg name="DEPTH_CAMERA_INFO" value="/$(arg camera)/depth_registered/sw_registered/camera_info" unless="$(arg align_depth)"/>
  <arg name="DEPTH_IMAGE" value="/$(arg camera)/depth_registered/sw_registered/image_rect_raw" unless="$(arg align_depth)"/>
  <arg name="DEPTH_REMOTE_IMAGE" value="/$(arg camera)/depth_registered/sw_registered/image_rect_raw" unless="$(arg align_depth)"/>

  <arg name="CLOUD" default="/$(arg camera)_remote/depth_registered/points" />
  <arg name="HALF_CLOUD" default="/$(arg camera)_remote/depth_registered/half_points" />

  <node name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager"
        if="$(arg launch_manager)" output="screen" />

  <node name="$(arg camera)_rgb_decompress" pkg="image_transport" type="republish"
        args="compressed in:=$(arg RGB_IMAGE) out:=$(arg RGB_REMOTE_IMAGE)" />
  <node name="$(arg camera)_depth_decompress" pkg="image_transport" type="republish"
        args="compressedDepth in:=$(arg DEPTH_IMAGE) out:=$(arg DEPTH_REMOTE_IMAGE)" />
  <node pkg="nodelet" type="nodelet" name="$(arg camera)_point_cloud_xyzrgb"
        args="standalone depth_image_proc/point_cloud_xyzrgb" output="screen" >
    <remap from="rgb/camera_info" to="$(arg RGB_CAMERA_INFO)" />
    <remap from="rgb/image_rect_color" to="$(arg RGB_REMOTE_IMAGE)" />
    <remap from="depth_registered/image_rect" to="$(arg DEPTH_REMOTE_IMAGE)" />
    <remap from="depth_registered/points" to="$(arg CLOUD)" />
    <rosparam>
      queue_size: 100
    </rosparam>
  </node>

  <!-- half -->
  <node name="$(arg camera)_downsample_cloud_half"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ResizePointsPublisher"
        output="screen"
        respawn="true">
    <remap from="~input" to="$(arg CLOUD)" />
    <remap from="~output" to="$(arg HALF_CLOUD)" />
    <rosparam>
      step_x: 2
      step_y: 2
    </rosparam>
  </node>

  <!-- rviz -->
  <group if="$(arg gui)">
    <node name="$(arg camera)_decomp_rviz"
          pkg="rviz" type="rviz"
          args="-d $(find jsk_2023_09_cook_from_recipe)/rviz/femto_mega_pointcloud_decomp.rviz">
    </node>
  </group>
</launch>
